---
layout: markdown_page
title: Growth Section
---

## On this page
{:.no_toc}

- TOC
{:toc}

## Vision

For more details about the product vision for Growth, see our [Growth] page.

[Growth]: /direction/growth/

## Mission

Growth focuses on managing GitLab’s customer licensing, transactions, and associated Telemetry data that helps drive our product decisions. We aim to measure and improve our capabilities and metrics in areas relating to customer activation, adoption, retention and upsell.

 * [Fulfillment](/handbook/engineering/development/growth/fulfillment)
 * [Activation](/handbook/engineering/development/growth/activation)
 * [Adoption](/handbook/engineering/development/growth/adoption)
 * [Upsell](/handbook/engineering/development/growth/upsell)
 * [Retention](/handbook/engineering/development/growth/retention)

We work closely with the [Data Team](/handbook/business-ops/data-team/) along with our [Product Team](/handbook/product/growth/) counterparts to design and implement experiments that measure the impact of changes to our messaging, UX, and overall experience of using GitLab.

## Team Members

The following people are permanent members of the Growth Section:

<%
DEPARTMENTS = ['Activation', 'Adoption', 'Upsell' , 'Retention', 'Fulfillment']
DEPARTMENT_REGEXP = /(#{Regexp.union(DEPARTMENTS)})/
%>

<%=  direct_team(role_regexp: DEPARTMENT_REGEXP, manager_role: 'Director of Engineering, Growth') %>


We''re hiring for [Fullstack engineers] to join our team.

[Fullstack engineers]: /jobs/apply/fullstack-engineer-growth-4247953002/

## Stable Counterparts

The following members of other functional teams are our stable counterparts:

<%= stable_counterparts(role_regexp: /[,&] Growth/, direct_manager_role: 'Engineering Manager, Growth') %>

## Common Links

 * [Fulfillment issues board]
 * [Growth issues board]
 * [#g_fulfillment] in Slack
 * [#g_growth] in Slack


[Fulfillment issues board]: https://gitlab.com/gitlab-org/fulfillment/issues
[Growth issues board]: https://gitlab.com/gitlab-org/growth/issues

[#g_growth]: https://gitlab.slack.com/archives/g_growth
[#g_fulfillment]: https://gitlab.slack.com/archives/g_fulfillment
